@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "页面无权访问";
}
<style type="text/css">
    .content {
        height: 100%;
        text-align: center;
        white-space: nowrap;
    }

        .content:after {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

    .transfer404 {
        color: #909090;
        display: inline-block;
        font-family: "microsoft yahei";
        font-size: 18px;
        line-height: 35px;
        text-align: center;
        vertical-align: middle;
    }

        .transfer404 .tips {
            font-size: 24px;
            padding: 20px 0;
        }

        .transfer404 a {
            color: #008cec;
        }

        .transfer404 .tips, .transfer404 ul {
            padding-left: 205px;
            text-align: left;
        }
</style>
<div class="content">
    <div class="transfer404">
        <img src="/images/404.png" alt="" />
        <p class="tips">
            Ooops！当前用户无访问权限。<br />
            #401，禁止访问，你可以尝试以下操作：
        </p>
        <ul>
            <li><a asp-controller="Account" asp-action="Login">返回首页</a></li>
        </ul>
    </div>
</div>