<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/internal-nlog.txt">

  <variable name="myLogLayout" value="---------------------------------------------------------------------------${newline}日期：${longdate}    级别：${uppercase:${level}}    用户：${aspnet-user-identity}(${aspnet-request-ip})    记录器：${logger}    URL：${aspnet-request-method} ${aspnet-request-url:IncludeQueryString=true}    Action：${aspnet-mvc-action}${newline}  ${message}    ${exception}" />
  <variable name="emailLayout" value="${newline}日期：${longdate}    级别：${uppercase:${level}}    用户：${aspnet-user-identity}(${aspnet-request-ip})    记录器：${logger}    URL：${aspnet-request-method} ${aspnet-request-url:IncludeQueryString=true}    Action：${aspnet-mvc-action}${newline}  ${message}    ${exception}" />
  
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.MailKit"/>
  </extensions>
 
  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="logs/logistics-all-${shortdate}.log"
            layout="${myLogLayout}" />
    
    <target xsi:type="File" name="microsoft" fileName="logs/logistics-microsoft-${shortdate}.log"
            layout="${myLogLayout}" />
    
    <target xsi:type="File" name="cms-web" fileName="logs/logistics-cms-${shortdate}.log"
            layout="${myLogLayout}" />
    
    <target xsi:type="Mail"
            name="cms-email"
            header=""
            footer=""
            layout="${emailLayout}"
            html="true"
            addNewLines="true"
            replaceNewlineWithBrTagInHtml="true"
            encoding="UTF-8"
            subject="${environment:ASPNETCore_Environment}:${uppercase:${level}}  ${message}:"
            to="test@qq.com"
            from="yangxiaodong1214@126.com"
            body="${myLogLayout}"
            smtpUserName="yangxiaodong1214@126.com"
            enableSsl="false"
            smtpPassword="Yxd19901214"
            smtpAuthentication="Basic"
            smtpServer="smtp.126.com"
            smtpPort="25"
            skipCertificateValidation="true"
    />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Warn" writeTo="allfile" />

    <logger name="Cms.*" minlevel="Info" writeTo="cms-web" />
    
    <logger name="*" minlevel="Error" writeTo="cms-email" />

    <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Info" writeTo="microsoft" final="true" />
    
    <logger name="Microsoft.AspNetCore.*" minlevel="Warn" writeTo="microsoft" final="true" />
    
  </rules>
</nlog>